* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    z-index: 2;
    border: none;
    height: 80px;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0px;
}

.nav {
    border: none;
    height: 35px;
    width: 100%;
    background-color: #f8cb2e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav img{

    width: 30px;
    height: 30px;
}

.nav-text{
    padding-top: 10px;
}


.tmain {
    display: flex;
    justify-content: space-around;
}

.hticket {
    border: none;
    height: 45px;
    width: 120px;
    padding-top: 15px;
    border-radius: 30px;
    background-color: #EE5007;
    text-align: center;
    margin-top: 10px;
}

h2 {
    color: white;
    padding-top: 10px;
}

.hlink {
    padding-top: 10px;
}

.ha {
    color: white;
    text-decoration: none;
    margin: 20px;
}

.hlink :hover {
    color: #EE5007;
}

.hticket :hover {
    background-color: darkorange;
}

.at {
    text-decoration: none;
    color: white;
}

.bimg {
    background-image: url(./nicholas-green-unsplash-blur.jpg);
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
}

.ticket {
    height: 650px;
    display: flex;
    border: 1px solid transparent;
   justify-content: center;
   align-items: center  ;
}

.form{
    height: 600px;
    width: 630px;
    background-color: white;
    border-radius: 10px;
}
.form-h1{
    font-size: x-large;
    text-align: center;
    padding-top: 20px;
}
.intro{
    height: 80px;
    width: 630px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.intro input{
    height: 45px;
    width: 280px;
    border-radius: 4px;
    padding-left: 20px;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: larger;
}
.phone{
    height: 60px;
    width: 630px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
.phone input{
    height: 45px;
    width: 600px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: larger;
    
}
.ttype{
    height: 60px;
    width: 630px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    text-align: start;
    color: black;
    font-size: x-large;
}
.ticket-optns{
    height: 60px;
    width: 630px;
    display: flex;
    justify-content: space-around;
}
.early{
    height: 50px;
    width: 250px;
    border: 1px solid  #ced4da;
    border-radius: 4px;
    padding: 15px;
}
.standard{
    height: 50px;
    width: 250px;
    border: 1px solid  #ced4da;
    border-radius: 4px;
    padding: 15px;
}
.tprice{
    height: 50px;
    width: 610px;
    padding-left: 10px;
}
.numbertckt{
    height: 50px;
    width: 100%;
    border: 1px solid  #ced4da;
    border-radius: 4px;
    padding: 15px;
}
.request{
    height: 90px;
    width: 100%;
    border: 1px solid  #ced4da;
    border-radius: 4px;
    padding: 15px;
    margin-top: 20px;
}
.ftckt{
    padding-left: 200px;
    padding-top: 15px;
}
.tbutton{
    height: 50px;
    width: 180px;
    border-radius: 30px;
    background-color: #EE5007;
    font-size: large;
    text-align: center;
    padding-top: 15px;
  
}
.tbutton a{
    font-size: larger;
    color: white;
    text-decoration: none;
}
footer {
    height: 500px;
    width: 100%;
    background-color: black;
    margin-top: -150px;
}
.topfooter {
    height: 120px;
    width: 100%;
    border: none;
    background-color: #EE5007;
}

.topmain {
    display: flex;
    justify-content: space-around;
}

.footerh2 {
    margin-top: 40px;
    font-size: 40px;
}

.footericn {
    padding-top: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ficn {
    width: 25px;
    color: white;
    animation: icn 2s ease-in-out infinite;
}

.bottomfooter {
    height: 180px;
    width: 100%;
}

.boottommain {
    height: 280px;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.btmlnk {
    height: 250px;
    width: 500px;
}

.btmlnk :hover {
    color: #EE5007;
}

h3 {
    color: yellow;
    font-size: xx-large;
}

.btma {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.query {
    height: 250px;
    width: 300px;
    color: white;
}

.query :hover {
    color: #EE5007;
}

.location {
    height: 250px;
    width: 300px;
}

.lp {
    color: white;
}

.endfooter {
    height: 80px;
    width: 100%;
}

hr {
    margin-bottom: 30px;
}

.finf {
    height: 80px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.endfa {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.elnk :hover {
    color: #EE5007;
}